antd-admin.zuiidea.com {
        gzip
        root /home/www/antd-admin/dist
        proxy /api http://localhost:7000

        rewrite {
                if {path} not_match ^/api
                to {path} {path}/ /
        }
}


antd-admin.zuiidea.com/public {
        gzip
        root  /home/www/antd-admin/dist/static/public
}