server
    {
        listen       88;
        # Specify an accessible domain name
        server_name antd-admin.zuiidea.com;
        # The directory where the compiled files are stored
        root  /home/www/antd-admin/dist;

        # Proxy server interface to avoid cross-domain
        location /api {
             proxy_pass http://localhost:7000/api;
        }

         Because the front end uses BrowserHistory, it will route backback to index.html
        location / {
            index  index.html;
            try_files $uri $uri/ /index.html;
        }
    }